.mapContainer {
  position: relative;
  height: 100%;
  width: 100%;
}/* Map.module.css */

.liveLocationCircle {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  right: 20px;  /* Adjust as needed */
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1000; /* Ensure it's above other elements */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s; /* Smooth transition for color changes */
}

.active {
  background-color: #1e90ff; /* Blue color for active state */
}

.inactive {
  background-color: #888888; /* Gray color for inactive state */
}

.liveLocationCircle svg {
  fill: #ffffff; /* White color for the SVG icon */
}
